# {{ ansible_managed }}

{% if vault_backend.storage is defined %}
backend "{{ vault_backend.storage }}" {
{%   for vk, vv in vault_backend.iteritems()|sort %}
{%     if vk != 'storage' %}
{%       if vv is sameas true %}
  {{ vk }} = true
{%       elif vv is sameas false %}
  {{ vk }} = false
{%       elif vv is number %}
  {{ vk }} = {{ vv }}
{%       else %}
  {{ vk }} = "{{ vv }}"
{%       endif %}
{%     endif %}
{%   endfor %}
}
{% endif %}

listener "tcp" {
{% for lk, lv in vault_listener.iteritems()|sort %}
{%   if lv is sameas true %}
  {{ lk }} = true
{%   elif lv is sameas false %}
  {{ lk }} = false
{%   elif lv is number %}
  {{ lk }} = {{ lv }}
{%   else %}
  {{ lk }} = "{{ lv }}"
{%   endif %}
{% endfor %}
}

{% if vault_telemetry is defined %}
telemetry {
{%   for tk, tv in vault_telemetry.iteritems()|sort %}
{%     if tv is sameas true %}
  {{ tk }} = true
{%     elif tv is sameas false %}
  {{ tk }} = false
{%     elif tv is number %}
  {{ tk }} = {{ tv }}
{%     else %}
  {{ tk }} = "{{ tv }}"
{%     endif %}
{%   endfor %}
}
{% endif %}
