# Path to vault binary
VAULT_BIN={{ vault_bin }}

# Config path for vault server
VAULT_CONFIG_PATH={{ vault_config_path }}

# Log file for vault server
VAULT_LOG_FILE={{ vault_log_file }}

# Log level for vault server
VAULT_LOG_LEVEL={{ vault_log_level }}

# Pid file for vault server
VAULT_PID_FILE={{ vault_pid_file }}
